---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="ROSEMBERG MARTINEZ - Web Developer in Chiapas, México">
  <h1>ROSEMBERG MARTINEZ - Web Developer from Chiapas, México</h1>

  <p>
    Hi, my name is Rosemberg Martínez. I’m a <a href="/minimal-memoir/now"><strong>Computer Engineering</strong></a> student 
    from Chiapas, México, with 6 months of internship experience as a <a href="/minimal-memoir/now"><strong>Web Developer</strong></a>.
    I am passionate about backend development and enjoy working on system implementations that optimize processes.
    I am currently open to work, eager to apply my skills and collaborate on projects that make a real impact.
  </p>

  <section>
    <h2>Work Experience</h2>
    <h3>Pixxels Software & TI - Internship</h3>
    <p><strong>Web Developer</strong> (Remote) — March 2024 to August 2024</p>
    <ul>
      <li>Analyzed and created new tables in SQL databases.</li>
      <li>Developed backend functionalities and maintained legacy PHP code.</li>
      <li>Developed and maintained web interfaces using Webix.js.</li>
      <li>Migrated the system to current versions of PHP and CodeIgniter.</li>
    </ul>
  </section>

  <section>
    <h2>Education</h2>
    <h3>Instituto Tecnológico Superior de Cintalapa</h3>
    <p><strong>Computer Engineering</strong> — 7th Semester</p>
    <p>Cintalapa de Figueroa, Chiapas, México (2021 - Present)</p>
  </section>

</Layout>
