---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Now - ROSEMBERG MARTINEZ">
  <h1>Now</h1>
  <section>
    <div>
      <h3>As a Student</h3>
      <p>
        I am currently a <strong>Computer Engineering</strong> student in my 7th semester at the 
        Instituto Tecnológico Superior de Cintalapa, Chiapas, México. My studies focus on software development, 
        databases, and system design, providing me with a strong foundation in both theoretical and practical aspects 
        of technology.
      </p>
      <p>
        I am dedicated to deepening my understanding of programming concepts and enhancing my skills in areas such as:
      </p>
      <ul>
        <li>Software development methodologies</li>
        <li>Data structures and algorithms</li>
        <li>Database management systems (DBMS)</li>
        <li>Networking and security principles</li>
      </ul>
    </div>
  
    <div>
      <h3>As a Web Developer</h3>
      <p>
        In my role as a <strong>Web Developer</strong>, I am actively seeking opportunities to apply my knowledge in 
        real-world projects, particularly in backend development and database management. My experience includes working 
        with technologies such as PHP, Java, and JavaScript, and I am keen on further enhancing my skills in:
      </p>
      <ul>
        <li>Backend development with PHP and Java</li>
        <li>Database management using MongoDB and MySQL</li>
        <li>Frontend technologies with frameworks like Webix.js</li>
        <li>Version control systems such as Git</li>
      </ul>
      <p>
        I am open to internships, freelance opportunities, and collaborative projects that will help me grow as a 
        developer and contribute positively to the tech community.
      </p>
    </div>
  </section>
  
</Layout>
