<nav>
  <p>
    <a href="/minimal-memoir/">home</a>
    <!-- <a href="/writings">writings</a> -->
    <a href="/minimal-memoir/now">now</a>
    <a href="/minimal-memoir/projects">projects</a>
  </p>
</nav>
<style>
  nav > p > a {
    text-align: left;
    margin-left: 20px;
  }

  nav {
    margin-bottom: 4rem;
    text-align: right;
  }

  @media (max-width: 768px) {
    nav {
      text-align: center;
    }

    nav > p > a {
      margin-left: 0;
      margin-right: 20px;
    }
  }
</style>
